openpyxl
fuzzywuzzy
xlsxwriter

python-dotenv~=1.1.1

streamlit~=1.47.0
pandas~=2.2.3
sqlalchemy~=2.0.41
databricks-sql-connector
databricks-connect==16.1.6
protobuf==4.25.3

databricks-sdk~=0.59.0
urllib3~=2.5.0
requests~=2.32.4

plotly
